.body {
    overflow: hidden;
}

.watchBody{
    width: 100vw;
    padding-top: 100px;
}

.watchFrame{
    border: 3px solid black;
    border-radius: 20%;
    width:50vw;
    height:20vw;
    padding: 25px; 
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.timer {
    border: 2px solid black;
}

.time {
    font-size: 100px;
    font-weight: 300;
}

.buttons {
    margin: 20px;
}

.button {
    height: 50px;
    width: 80px;
    margin: 30px;
    border-radius: 25px;
    font-weight: 500;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}